<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>nya.tf manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>nya.tf manager</h1>
        <h2>Create new URL</h2>
        <form method="post">
            <input type="text" placeholder="nya.tf path" name="path"><input type="text" placeholder="target" name="target"><input type="submit">
        </form>
        <!--<h2>Search URLs</h2>
        <form>
            <input type="text" placeholder="search..." name="search"><input type="submit">
        </form>-->
        <h2><a href="/admin/all">View ALL URLs</a></h2>
    </body>
</html>